<br><br><br><br>
<mat-card style="background-image: url(../../assets/login.jpg);" class="form">
    <mat-card-header>
        <h1>Login</h1>
    </mat-card-header>
    <mat-card-content>
        <div class="example-name" color="primary">
            <mat-icon style="margin-left:130px">account_circle</mat-icon>
        </div><br>
        <form [formGroup]="loginForm">
            <mat-form-field class="example-name">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" autocomplete="off"><mat-icon matSuffix>email</mat-icon>
                <mat-error *ngIf="loginForm.controls['email'].hasError('required')">Email is required</mat-error>
                <mat-error *ngIf="loginForm.controls['email'].hasError('email')">Enter valid email address</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill" class="example-name">
                <mat-label>Enter your password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" autocomplete="off">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="loginForm.controls['password'].hasError('required')">Password is required</mat-error>
                <mat-error *ngIf="loginForm.controls['password'].hasError('maxlength')">Use 12 digit
                    Password</mat-error>
                <mat-error *ngIf="loginForm.controls['password'].hasError('minlength')">Use 6 digit Password</mat-error>
                <mat-error *ngIf="loginForm.controls['password'].hasError('pattern')"></mat-error>
            </mat-form-field><br>
            <div>
                <button mat-raised-button color="primary" (click)="loginUser()">Login</button>&nbsp;
                <button mat-raised-button color="accent" routerLink="/register">Sign Up</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
